Repository qmk/qmk_toolbox, pull requests merged in 2019-10, with the labels that each got.

#125 Fix crashing after flash on Catalina
  osx/qmk_toolbox/Printing.m
Labels: bug

#127 Better detection of pro micro device on macos X
  osx/README.md
  osx/qmk_toolbox/USB.m
Labels: bug, enhancement

#131 Corrected Spelling
  readme.md
Labels: documentation
