Repository qmk/qmk_toolbox, pull requests merged in 2020-01, with the labels that each got.

#156 Fix typo preventing build
  windows/QMK Toolbox/BetterComboBox.cs
Labels: windows

#155 Link QMK Docs for Zadig in main readme
  readme.md
Labels: documentation

#157 Fix path to mdloader in Xcode project file
  osx/QMK Toolbox.xcodeproj/project.pbxproj
Labels: bug, macos

#159 [Windows] Add a menu item to retrigger driver install
  windows/QMK Toolbox/MainWindow.Designer.cs
  windows/QMK Toolbox/MainWindow.cs
Labels: enhancement, windows

#161 Update Inno Setup script
  windows/install_compiler.iss
Labels: enhancement, windows

#164 Specify MCU dropdown as AVR only
  osx/qmk_toolbox/Base.lproj/MainMenu.xib
  windows/QMK Toolbox/MainWindow.Designer.cs
Labels: enhancement, macos, windows

#165 Fix bug where disconnecting a device didn't supply a hardware ID
  windows/QMK Toolbox/USB.cs
Labels: bug, windows
