Repository qmk/qmk_toolbox, pull requests merged in 2020-09, with the labels that each got.

#219 Update more Xcode stuff
  osx/QMK Toolbox.xcodeproj/project.pbxproj
  osx/QMK Toolbox.xcodeproj/xcshareddata/xcschemes/QMK Toolbox.xcscheme
Labels: enhancement, macos

#221 Fix BootloadHID devices not being detected automatically
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/Program.cs
Labels: bug, windows

#216 Add support for Pololu A-Star
  osx/qmk_toolbox/Flashing.h
  osx/qmk_toolbox/USB.m
  windows/QMK Toolbox/USB.cs
Labels: enhancement, macos, windows

#218 Append clear menu item to existing menu
  osx/qmk_toolbox/AppDelegate.m
  osx/qmk_toolbox/Base.lproj/MainMenu.xib
  windows/QMK Toolbox/MainWindow.Designer.cs
  windows/QMK Toolbox/MainWindow.cs
Labels: bug, macos, windows

#225 [macOS] Fix file permissions for bootloadHID
  osx/bootloadHID
Labels: bug, macos

#226 Add Caterina PID for LilyPad
  windows/QMK Toolbox/USB.cs
Labels: enhancement, windows

#231 Fix crash when flashing with USBTiny
  osx/qmk_toolbox/Flashing.m
  osx/qmk_toolbox/USB.m
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/USB.cs
Labels: bug, macos, windows
