Repository qmk/qmk_toolbox, pull requests merged in 2020-07, with the labels that each got.

#202 Set minimum macOS version to 10.13
  osx/QMK Toolbox.xcodeproj/project.pbxproj
Labels: bug, enhancement, macos

#205 [Windows] Fix crash when a HID device has no input reports
  windows/QMK Toolbox/MainWindow.cs
Labels: bug

#206 Use libusbK driver for USBAspLoader
  windows/QMK Toolbox/drivers.txt
Labels: bug

#207 Update Massdrop Loader to 1.0.4
  osx/mdloader_mac
  windows/QMK Toolbox/mdloader_windows.exe
Labels: enhancement, help wanted, macos, windows
