Repository qmk/qmk_toolbox, pull requests merged in 2020-12, with the labels that each got.

#242 [macOS] Use passed friendly name for disconnect events
  osx/qmk_toolbox/USB.m
Labels: bug, enhancement, macos

#166 Add support for STM32duino DFU bootloader.
  readme.md
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/Program.cs
  windows/QMK Toolbox/USB.cs
  windows/QMK Toolbox/drivers.txt
Labels: enhancement, windows

#229 Add support for STM32Duino bootloaders on macOS
  osx/qmk_toolbox/AppDelegate.m
  osx/qmk_toolbox/Flashing.h
  osx/qmk_toolbox/Flashing.m
  osx/qmk_toolbox/USB.m
  osx/qmk_toolbox/main.m
Labels: enhancement, macos
