Repository qmk/qmk_toolbox, pull requests merged in 2021-07, with the labels that each got.

#268 [Windows] Fix tab order
  windows/QMK Toolbox/MainWindow.Designer.cs
Labels: bug, enhancement, windows

#269 [macOS] Move flasher binaries + libs to separate folder
  .github/workflows/build.yml
  osx/QMK Toolbox.xcodeproj/project.pbxproj
  osx/qmk_toolbox/Resources/avrdude
  osx/qmk_toolbox/Resources/bootloadHID
  osx/qmk_toolbox/Resources/dfu-programmer
  osx/qmk_toolbox/Resources/dfu-util
  osx/qmk_toolbox/Resources/libftdi.1.dylib
  osx/qmk_toolbox/Resources/libusb-0.1.4.dylib
  osx/qmk_toolbox/Resources/libusb-1.0.0.dylib
  osx/qmk_toolbox/Resources/mdloader_mac
  osx/qmk_toolbox/Resources/teensy_loader_cli
Labels: enhancement, macos

#271 [macOS] Project naming tweaks
  .github/workflows/build.yml
  .gitignore
  macos/QMK Toolbox.pkgproj
  macos/QMK Toolbox.xcodeproj/project.pbxproj
  macos/QMK Toolbox.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  macos/QMK Toolbox.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  macos/QMK Toolbox.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  macos/QMK Toolbox.xcodeproj/xcshareddata/xcschemes/QMK Toolbox.xcscheme
  macos/QMK Toolbox.xcworkspace/contents.xcworkspacedata
  macos/QMK Toolbox.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  macos/QMK Toolbox/AppDelegate.h
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/Contents.json
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/icon-128x128.png
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/icon-128x128@2x.png
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/icon-16x16.png
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/icon-16x16@2x.png
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/icon-256x256.png
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/icon-256x256@2x.png
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/icon-32x32.png
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/icon-32x32@2x.png
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/icon-512x512.png
  macos/QMK Toolbox/Assets.xcassets/AppIcon.appiconset/icon-512x512@2x.png
  macos/QMK Toolbox/Base.lproj/MainMenu.xib
  macos/QMK Toolbox/Constants.h
  macos/QMK Toolbox/Constants.m
  macos/QMK Toolbox/Flashing.h
  macos/QMK Toolbox/Flashing.m
  macos/QMK Toolbox/HID.h
  macos/QMK Toolbox/HID.m
  macos/QMK Toolbox/Info.plist
  macos/QMK Toolbox/Printing.h
  macos/QMK Toolbox/Printing.m
  macos/QMK Toolbox/QMKWindow.h
  macos/QMK Toolbox/QMKWindow.m
  macos/QMK Toolbox/Resources/avrdude
  macos/QMK Toolbox/Resources/bootloadHID
  macos/QMK Toolbox/Resources/dfu-programmer
  macos/QMK Toolbox/Resources/dfu-util
  macos/QMK Toolbox/Resources/libftdi.1.dylib
  macos/QMK Toolbox/Resources/libusb-0.1.4.dylib
  macos/QMK Toolbox/Resources/libusb-1.0.0.dylib
  macos/QMK Toolbox/Resources/mdloader_mac
  macos/QMK Toolbox/Resources/teensy_loader_cli
  macos/QMK Toolbox/USB.h
  macos/QMK Toolbox/USB.m
  macos/QMK Toolbox/main.m
  macos/icon.iconset/icon-128x128.png
  macos/icon.iconset/icon-128x128@2x.png
  macos/icon.iconset/icon-16x16.png
  macos/icon.iconset/icon-16x16@2x.png
  macos/icon.iconset/icon-256x256.png
  macos/icon.iconset/icon-256x256@2x.png
  macos/icon.iconset/icon-32x32.png
  macos/icon.iconset/icon-32x32@2x.png
  macos/icon.iconset/icon-512x512.png
  macos/icon.iconset/icon-512x512@2x.png
Labels: enhancement, macos

#272 [Windows] Improve drag-drop events
  windows/QMK Toolbox/Helpers/EmbeddedResourceHelper.cs
  windows/QMK Toolbox/MainWindow.cs
Labels: bug, enhancement, windows

#273 [macOS] Improve drag-drop events
  .gitignore
  macos/QMK Toolbox.xcodeproj/project.pbxproj
  macos/QMK Toolbox.xcodeproj/xcshareddata/xcschemes/QMK Toolbox.xcscheme
  macos/QMK Toolbox/QMKWindow.m
Labels: bug, enhancement, macos

#275 [macOS] Bump deployment target to 10.14
  macos/QMK Toolbox.xcodeproj/project.pbxproj
  macos/QMK Toolbox.xcodeproj/xcshareddata/xcschemes/QMK Toolbox.xcscheme
  macos/QMK Toolbox/Info.plist
Labels: enhancement, macos

#276 [macOS] Fix deprecated pasteboard type
  macos/QMK Toolbox/QMKWindow.m
Labels: enhancement, macos

#279 Update CI workflow
  .github/workflows/build.yml
Labels: enhancement

#277 [Windows] Subclass ComboBox for placeholder text
  windows/QMK Toolbox/BetterComboBox.cs
  windows/QMK Toolbox/ComboBoxPlaceholder.cs
  windows/QMK Toolbox/MainWindow.Designer.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/QMK Toolbox.csproj
Labels: enhancement, windows

#261 Migrate release process away from archived action
  .github/workflows/build.yml
Labels: enhancement

#282 [Windows] Improve USB device detection
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/USB.cs
Labels: bug, enhancement, windows

#281 Add LUFA-MS bootloader support
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/Flashing.h
  macos/QMK Toolbox/Flashing.m
  macos/QMK Toolbox/USB.h
  macos/QMK Toolbox/USB.m
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/USB.cs
Labels: enhancement, macos, windows

#280 [Windows] More menu items
  windows/QMK Toolbox/BindableToolStripMenuItem.cs
  windows/QMK Toolbox/MainWindow.Designer.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/MainWindow.resx
  windows/QMK Toolbox/Properties/DataSources/WindowState.datasource
  windows/QMK Toolbox/QMK Toolbox.csproj
  windows/QMK Toolbox/WindowState.cs
Labels: enhancement, windows

#278 [macOS] More menu items
  macos/QMK Toolbox/AppDelegate.h
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/Base.lproj/MainMenu.xib
Labels: enhancement, macos

#283 [Windows] Don't call OnPropertyChanged if property value is the same
  windows/QMK Toolbox/QMK Toolbox.csproj
  windows/QMK Toolbox/WindowState.cs
Labels: bug, windows

#284 [Windows] Update avrdude and dfu-util
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/QMK Toolbox.csproj
  windows/QMK Toolbox/Resources/avrdude.exe
  windows/QMK Toolbox/Resources/dfu-util.exe
  windows/QMK Toolbox/Resources/libusb-1.0.dll
  windows/QMK Toolbox/Resources/libwinpthread-1.dll
Labels: enhancement, windows

#286 Add QMK-DFU support
  macos/QMK Toolbox/Flashing.h
  macos/QMK Toolbox/Flashing.m
  macos/QMK Toolbox/USB.m
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/USB.cs
Labels: enhancement, macos, windows

#287 Add support for setting handedness in EEPROM
  common/reset_left.eep
  common/reset_right.eep
  macos/QMK Toolbox.xcodeproj/project.pbxproj
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/Base.lproj/MainMenu.xib
  macos/QMK Toolbox/Flashing.h
  macos/QMK Toolbox/Flashing.m
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/MainWindow.Designer.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/QMK Toolbox.csproj
Labels: enhancement, macos, windows

#288 [Windows] Project housekeeping
  windows/QMK Toolbox/AboutBox.cs
  windows/QMK Toolbox/App.config
  windows/QMK Toolbox/BetterComboBox.cs
  windows/QMK Toolbox/BindableToolStripMenuItem.cs
  windows/QMK Toolbox/ComboBoxPlaceholder.cs
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/FodyWeavers.xml
  windows/QMK Toolbox/FodyWeavers.xsd
  windows/QMK Toolbox/Info.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/Printing.cs
  windows/QMK Toolbox/Program.cs
  windows/QMK Toolbox/Properties/Resources.Designer.cs
  windows/QMK Toolbox/QMK Toolbox.csproj
  windows/QMK Toolbox/USB.cs
  windows/QMK Toolbox/WindowState.cs
  windows/QMK Toolbox/packages.config
Labels: enhancement, windows
