Repository qmk/qmk_toolbox, pull requests merged in 2021-01, with the labels that each got.

#238 Add support for flashing APM32 via DFU
  osx/qmk_toolbox/AppDelegate.m
  osx/qmk_toolbox/Flashing.h
  osx/qmk_toolbox/Flashing.m
  osx/qmk_toolbox/USB.m
  osx/qmk_toolbox/main.m
  readme.md
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/Program.cs
  windows/QMK Toolbox/USB.cs
  windows/QMK Toolbox/drivers.txt
Labels: enhancement, macos, windows

#245 Bootloader detection refactor
  osx/qmk_toolbox/Flashing.h
  osx/qmk_toolbox/USB.m
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/USB.cs
Labels: enhancement, macos, windows

#246 Remove command line code
  osx/qmk_toolbox/AppDelegate.m
  osx/qmk_toolbox/Flashing.m
  osx/qmk_toolbox/Printing.m
  osx/qmk_toolbox/USB.h
  osx/qmk_toolbox/USB.m
  osx/qmk_toolbox/main.m
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/Printing.cs
  windows/QMK Toolbox/Program.cs
Labels: bug, enhancement, macos, windows

#250 Fix brew workflow
  .github/workflows/build.yml
Labels: bug

#249 Update mdloader to 1.0.5
  common/applet-mdflash.bin
  osx/QMK Toolbox.xcodeproj/project.pbxproj
  osx/mdloader_mac
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/QMK Toolbox.csproj
  windows/QMK Toolbox/mdloader_windows.exe
Labels: enhancement, macos, windows
