Repository qmk/qmk_toolbox, pull requests merged in 2022-05, with the labels that each got.

#361 Refactor file handling
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/QMKWindow.m
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/Program.cs
Labels: bug, windows, macos

#365 Wire up auto-flash again
  macos/QMK Toolbox/AppDelegate.m
  windows/QMK Toolbox/MainWindow.cs
Labels: bug, windows, macos

#368 [Windows] Remove unnecessary System.IO.Compression.Filesystem ref
  windows/QMK Toolbox/QMK Toolbox.csproj
Labels: enhancement, windows

#321 Added support of WB32 DFU for Windows.
  readme.md
  windows/QMK Toolbox/Helpers/EmbeddedResourceHelper.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/QMK Toolbox.csproj
  windows/QMK Toolbox/Resources/drivers.txt
  windows/QMK Toolbox/Resources/wb32-dfu-updater_cli.exe
  windows/QMK Toolbox/Usb/Bootloader/BootloaderType.cs
  windows/QMK Toolbox/Usb/Bootloader/Wb32DfuDevice.cs
  windows/QMK Toolbox/Usb/UsbListener.cs
Labels: enhancement, windows

#320 Added support of WB32 DFU for MacOs.
  .github/workflows/build.yml
  macos/QMK Toolbox.xcodeproj/project.pbxproj
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/Resources/wb32-dfu-updater_cli
  macos/QMK Toolbox/USB/Bootloader/BootloaderType.h
  macos/QMK Toolbox/USB/Bootloader/WB32DFUDevice.h
  macos/QMK Toolbox/USB/Bootloader/WB32DFUDevice.m
  macos/QMK Toolbox/USB/USBListener.m
Labels: enhancement, macos
