Repository qmk/qmk_toolbox, pull requests merged in 2022-04, with the labels that each got.

#333 [macOS] Move drag-drop registration
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/QMKWindow.h
  macos/QMK Toolbox/QMKWindow.m
Labels: enhancement, macos

#330 [macOS] USB detection and flashing rework
  macos/QMK Toolbox.xcodeproj/project.pbxproj
  macos/QMK Toolbox/AppDelegate.h
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/Base.lproj/MainMenu.xib
  macos/QMK Toolbox/Flashing.h
  macos/QMK Toolbox/Flashing.m
  macos/QMK Toolbox/MessageType.h
  macos/QMK Toolbox/Printing.h
  macos/QMK Toolbox/USB.h
  macos/QMK Toolbox/USB.m
  macos/QMK Toolbox/USB/Bootloader/APM32DFUDevice.h
  macos/QMK Toolbox/USB/Bootloader/APM32DFUDevice.m
  macos/QMK Toolbox/USB/Bootloader/AVRISPDevice.h
  macos/QMK Toolbox/USB/Bootloader/AVRISPDevice.m
  macos/QMK Toolbox/USB/Bootloader/AtmelDFUDevice.h
  macos/QMK Toolbox/USB/Bootloader/AtmelDFUDevice.m
  macos/QMK Toolbox/USB/Bootloader/AtmelSAMBADevice.h
  macos/QMK Toolbox/USB/Bootloader/AtmelSAMBADevice.m
  macos/QMK Toolbox/USB/Bootloader/BootloadHIDDevice.h
  macos/QMK Toolbox/USB/Bootloader/BootloadHIDDevice.m
  macos/QMK Toolbox/USB/Bootloader/BootloaderDevice.h
  macos/QMK Toolbox/USB/Bootloader/BootloaderDevice.m
  macos/QMK Toolbox/USB/Bootloader/BootloaderType.h
  macos/QMK Toolbox/USB/Bootloader/CaterinaDevice.h
  macos/QMK Toolbox/USB/Bootloader/CaterinaDevice.m
  macos/QMK Toolbox/USB/Bootloader/HalfKayDevice.h
  macos/QMK Toolbox/USB/Bootloader/HalfKayDevice.m
  macos/QMK Toolbox/USB/Bootloader/KiibohdDFUDevice.h
  macos/QMK Toolbox/USB/Bootloader/KiibohdDFUDevice.m
  macos/QMK Toolbox/USB/Bootloader/LUFAMSDevice.h
  macos/QMK Toolbox/USB/Bootloader/LUFAMSDevice.m
  macos/QMK Toolbox/USB/Bootloader/STM32DFUDevice.h
  macos/QMK Toolbox/USB/Bootloader/STM32DFUDevice.m
  macos/QMK Toolbox/USB/Bootloader/STM32DuinoDevice.h
  macos/QMK Toolbox/USB/Bootloader/STM32DuinoDevice.m
  macos/QMK Toolbox/USB/Bootloader/USBAspDevice.h
  macos/QMK Toolbox/USB/Bootloader/USBAspDevice.m
  macos/QMK Toolbox/USB/Bootloader/USBTinyISPDevice.h
  macos/QMK Toolbox/USB/Bootloader/USBTinyISPDevice.m
  macos/QMK Toolbox/USB/USBDevice.h
  macos/QMK Toolbox/USB/USBDevice.m
  macos/QMK Toolbox/USB/USBListener.h
  macos/QMK Toolbox/USB/USBListener.m
Labels: enhancement, macos

#331 [Windows] USB detection and flashing rework
  windows/QMK Toolbox/App.config
  windows/QMK Toolbox/Flashing.cs
  windows/QMK Toolbox/Helpers/EmbeddedResourceHelper.cs
  windows/QMK Toolbox/MainWindow.Designer.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/MessageType.cs
  windows/QMK Toolbox/Printing.cs
  windows/QMK Toolbox/Properties/Settings.Designer.cs
  windows/QMK Toolbox/Properties/Settings.settings
  windows/QMK Toolbox/QMK Toolbox.csproj
  windows/QMK Toolbox/USB.cs
  windows/QMK Toolbox/Usb/Bootloader/Apm32DfuDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/AtmelDfuDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/AtmelSamBaDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/AvrIspDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/BootloadHidDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/BootloaderDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/BootloaderType.cs
  windows/QMK Toolbox/Usb/Bootloader/CaterinaDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/HalfKayDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/KiibohdDfuDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/LufaMsDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/Stm32DfuDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/Stm32DuinoDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/UsbAspDevice.cs
  windows/QMK Toolbox/Usb/Bootloader/UsbTinyIspDevice.cs
  windows/QMK Toolbox/Usb/IUsbDevice.cs
  windows/QMK Toolbox/Usb/UsbDevice.cs
  windows/QMK Toolbox/Usb/UsbListener.cs
  windows/QMK Toolbox/WindowState.cs
Labels: enhancement, windows

#339 [Windows] Logging refactor
  windows/QMK Toolbox/HidConsole/HidConsoleDevice.cs
  windows/QMK Toolbox/LogTextBox.cs
  windows/QMK Toolbox/MainWindow.Designer.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/MessageType.cs
  windows/QMK Toolbox/Printing.cs
  windows/QMK Toolbox/QMK Toolbox.csproj
  windows/QMK Toolbox/Usb/Bootloader/BootloaderDevice.cs
  windows/QMK Toolbox/Usb/UsbListener.cs
Labels: enhancement, windows

#340 [macOS] Logging refactor
  macos/QMK Toolbox.xcodeproj/project.pbxproj
  macos/QMK Toolbox/AppDelegate.h
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/Assets.xcassets/Contents.json
  macos/QMK Toolbox/Base.lproj/MainMenu.xib
  macos/QMK Toolbox/Colors.xcassets/Contents.json
  macos/QMK Toolbox/Colors.xcassets/LogBoxBackground.colorset/Contents.json
  macos/QMK Toolbox/Colors.xcassets/LogBoxSelection.colorset/Contents.json
  macos/QMK Toolbox/Colors.xcassets/LogMessageBootloader.colorset/Contents.json
  macos/QMK Toolbox/Colors.xcassets/LogMessageDefault.colorset/Contents.json
  macos/QMK Toolbox/Colors.xcassets/LogMessageError.colorset/Contents.json
  macos/QMK Toolbox/Colors.xcassets/LogMessageHID.colorset/Contents.json
  macos/QMK Toolbox/Colors.xcassets/LogMessageHIDOutput.colorset/Contents.json
  macos/QMK Toolbox/Colors.xcassets/LogMessageInfo.colorset/Contents.json
  macos/QMK Toolbox/HIDConsole/HIDConsoleDevice.h
  macos/QMK Toolbox/HIDConsole/HIDConsoleDevice.m
  macos/QMK Toolbox/LogTextView.h
  macos/QMK Toolbox/LogTextView.m
  macos/QMK Toolbox/MessageType.h
  macos/QMK Toolbox/Printing.h
  macos/QMK Toolbox/Printing.m
  macos/QMK Toolbox/USB/Bootloader/BootloaderDevice.m
Labels: enhancement, macos

#344 [macOS] UI updates
  macos/QMK Toolbox/Base.lproj/MainMenu.xib
Labels: enhancement, macos

#343 [Windows] UI updates
  windows/QMK Toolbox/MainWindow.Designer.cs
Labels: enhancement, windows

#342 [macOS] Update flasher binaries from Catalina bottles
  macos/QMK Toolbox.xcodeproj/project.pbxproj
  macos/QMK Toolbox/Resources/avrdude
  macos/QMK Toolbox/Resources/bootloadHID
  macos/QMK Toolbox/Resources/dfu-programmer
  macos/QMK Toolbox/Resources/dfu-util
  macos/QMK Toolbox/Resources/libftdi.1.dylib
  macos/QMK Toolbox/Resources/libusb-0.1.4.dylib
  macos/QMK Toolbox/Resources/libusb-1.0.0.dylib
  macos/QMK Toolbox/Resources/teensy_loader_cli
Labels: enhancement, macos

#341 [Windows] Update flasher binaries
  windows/QMK Toolbox/Resources/avrdude.exe
  windows/QMK Toolbox/Resources/dfu-util.exe
  windows/QMK Toolbox/Resources/libftdi1.dll
  windows/QMK Toolbox/Resources/libusb-1.0.dll
  windows/QMK Toolbox/Resources/libusb0.dll
  windows/QMK Toolbox/Resources/libwinpthread-1.dll
  windows/QMK Toolbox/Resources/mdloader.exe
  windows/QMK Toolbox/Resources/teensy_loader_cli.exe
Labels: enhancement, windows

#345 [macOS] LUFA-MS: return early on error
  macos/QMK Toolbox/USB/Bootloader/LUFAMSDevice.m
Labels: bug, macos

#346 Add system requirements to readme
  readme.md
Labels: documentation

#347 [macOS] Add support for LUFA-HID/QMK-HID
  macos/QMK Toolbox.xcodeproj/project.pbxproj
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/Resources/hid_bootloader_cli
  macos/QMK Toolbox/USB/Bootloader/BootloaderType.h
  macos/QMK Toolbox/USB/Bootloader/LUFAHIDDevice.h
  macos/QMK Toolbox/USB/Bootloader/LUFAHIDDevice.m
  macos/QMK Toolbox/USB/USBListener.m
Labels: enhancement, macos

#348 [Windows] Add support for LUFA-HID/QMK-HID
  readme.md
  windows/QMK Toolbox/Helpers/EmbeddedResourceHelper.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/QMK Toolbox.csproj
  windows/QMK Toolbox/Resources/hid_bootloader_cli.exe
  windows/QMK Toolbox/Usb/Bootloader/BootloaderType.cs
  windows/QMK Toolbox/Usb/Bootloader/LufaHidDevice.cs
  windows/QMK Toolbox/Usb/UsbListener.cs
Labels: enhancement, windows

#349 Increment version to 0.2.0
  macos/QMK Toolbox.pkgproj
  macos/QMK Toolbox/Info.plist
  readme.md
  windows/QMK Toolbox/Properties/AssemblyInfo.cs
  windows/QMK Toolbox/Properties/DataSources/WindowState.datasource
  windows/install_compiler.iss
Labels: enhancement, windows, macos

#350 Fix up bootloader detection on M1 Macs.
  macos/QMK Toolbox/USB/USBListener.m
Labels: bug, macos

#351 [Windows] Move MCU selector population code out of constructor
  windows/QMK Toolbox/MicrocontrollerSelector.cs
Labels: bug, windows

#353 Drop .qmk filetype support
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/Info.plist
  macos/QMK Toolbox/QMKWindow.m
  windows/QMK Toolbox/Info.cs
  windows/QMK Toolbox/MainWindow.cs
  windows/QMK Toolbox/QMK Toolbox.csproj
  windows/install_compiler.iss
Labels: enhancement, windows, macos

#354 [Windows] Update Nuget packages
  windows/QMK Toolbox/QMK Toolbox.csproj
Labels: enhancement, windows

#352 Update copyright year
  LICENSE.md
  macos/QMK Toolbox.pkgproj
  macos/QMK Toolbox/Info.plist
  windows/QMK Toolbox/Properties/AssemblyInfo.cs
Labels: windows, macos

#357 [macOS] Add libhidapi
  macos/QMK Toolbox.xcodeproj/project.pbxproj
  macos/QMK Toolbox/Resources/libhidapi.0.dylib
Labels: bug, macos

#356 [Windows] Fix bug in SetFilePath()
  windows/QMK Toolbox/MainWindow.cs
Labels: bug, windows

#355 [macOS] Fix open menu item and recent documents clear behaviour
  macos/QMK Toolbox/AppDelegate.m
  macos/QMK Toolbox/Base.lproj/MainMenu.xib
Labels: bug, macos

#360 Fix handedness .eep filenames
  macos/QMK Toolbox/AppDelegate.m
  windows/QMK Toolbox/MainWindow.cs
Labels: bug, windows, macos
